.teachers_block {
    height: 8vh;
    display: flex;
    border-top: 1px solid #FFC31E;
    border-bottom: 1px solid #FFC31E;
}

.teachers_block_title {
    flex: 0.3;
    background-color: #1a1a1a;
}

.teachers_block_title > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 0;
    background-color: #FFC31E;
    color: white;
    animation: 1.2s cubic-bezier(0.11, 0.33, 0.01, 1) 1.8s fill_effect forwards;
}

@keyframes fill_effect {
    0% {
        width: 0;
        color: #FFC31E;
    }
    50%{
        color: #FFC31E;
    }
    100% {
        width: 100%;
        color: white;
    }
}



.teachers_block_title > div > span {
    padding: 20px;
    font-size: 2vw;
}

.teachers_block_carousel {
    flex: 0.7;
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
    overflow: hidden;
}

.carousel_track {
    height: 100%;
    width: fit-content;
    display: flex;
    animation: 14s linear infinite carousel;
    animation-delay: 3s;
    box-sizing: content-box;
}


@keyframes carousel {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.carousel_element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
    height: 100%;
    color: white;
    border-right: 1px solid black;
    font-size: 0.9vw;
}

.carousel_element:hover {
    background-color: #ffffff10;
    cursor: pointer;
}

.name_of_teacher {
    padding: 5px 10px;
    background-color: purple;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1vw;
}
