.authorization_form_div {
    display: flex;
    height: 70vh;
    overflow: hidden;
}

.authorization_form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.authorization_input {
    width: 80%;
}

.already_have_an_account {
    font-size: medium;
}

.authorization_form_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-right: 15px;
    color: black;
}

.close_authorization_icon {
    transition: 0.2s;
}

.close_authorization_icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px black);
}