.registration_form_div {
    display: flex;
    height: 750px;
    overflow: hidden;
}

.RF_form_wrapper {
    flex: 0.5;
}

.registration_form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.already_have_an_account {
    font-size: medium;
    margin-bottom: 10%;
}

.registration_form_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-right: 15px;
    color: black;
}

.close_register_icon {
    transition: 0.2s;
}

.close_register_icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px black);
}