.welcome_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 8vh;
    color: white;
    text-align: center;
    height: 84vh;
    background:  url(../../../images/oxxxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 4s 1s infinite background_animation ;
    animation: background_animation ease-in-out 6s forwards infinite alternate;
    box-shadow: 0 2px 40px black;
    --welcome-motion-duration: 0.8s;
}

@keyframes background_animation {
    0%{
        background-image: url(../../../images/oxxxy.jpg);
    }
    40%{
        background-image: url(../../../images/oxxxy.jpg) ;
    }
    60%{
        background-image: url(../../../images/debiki.jpg);
    }
    100%{
        background-image: url(../../../images/debiki.jpg);
    }
}



.welcome_block_title {
    margin-top: 25vh;
    margin-bottom: 30px;
    max-width: 35vw;
    font-size: 64px;
    color: white;
    opacity: 0;
    text-shadow: 2px 2px 4px black;
    animation: 1s ease-out var(--welcome-motion-duration) 1 slideInFromTop forwards,
               0.1s ease-in 8s 1 blink_animation;

}

.welcome_block_title > span {
    color: #ffb320;
}

.welcome_block_text {
    color: #E9E9E9;
    max-width: 800px;
    opacity: 0;
    text-shadow: 2px 2px 10px black,
    2px 2px 5px black;
    animation: 0.8s ease-out var(--welcome-motion-duration) 1 slideInFromTop forwards,
               0.1s ease-in 8s 1 blink_animation;
}

.welcome_block_sign_up_btn {
    color: black;
    padding: 15px;
    background-color:#ffb320;
    border-radius: 999px;
    width: 400px;
    margin: 20px;
    transition: 0.1s;
    opacity: 0;
    animation: 0.6s ease-out var(--welcome-motion-duration) 1 slideInFromTop forwards,
               0.1s ease-in 8s 1 blink_animation;
}

.welcome_block_sign_up_btn:hover {
    background-color: #FFC31E;
    transform: scale(0.99); 
    cursor: pointer;
}

.welcome_block_sign_up_btn:active {
    background-color: #FFC31E;
    transform: scale(0.96); 
    cursor: pointer;
}

.welcome_block_sign_in_btn {
    padding: 15px;
    background-color: #005cbf;
    border-radius: 999px;
    width: 400px;
    margin: 5px;
    transition: all 0.1s ease-in-out;
    opacity: 0;
    animation: 0.4s ease-out var(--welcome-motion-duration) 1 slideInFromTop forwards,
               0.1s ease-in 8s 1 blink_animation;
}

.welcome_block_sign_in_btn:hover {
    background-color: #2471C3;
    transform: scale(0.99); 
    cursor: pointer;
}

.welcome_block_sign_in_btn:active {
    background-color: #2471C3;
    transform: scale(0.96); 
    cursor: pointer;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-400px);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        transition: all 0.1s ease-in-out;
    }
}

@keyframes blink_animation {
    0% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    75%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(-1deg);
    }
}



/* German realization */
.welcome_block_german_field {
    width: 80vw;
}

.welcome_block_german {
    width: 200px;
    height: 200px;
    background-image: url(./../../../images/CoolGerman.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    filter: drop-shadow(0 0 100px #FFC31E);
    animation: german_walk ease-in-out 6s forwards 2 alternate;
}

.welcome_block_german:hover {
    filter: drop-shadow(0 0 40px #FFC31E);
    background-image: url(../../../images/CoolGermanHover.png);
}

.welcome_block_german:active{
    animation-play-state: paused;
}

@keyframes german_walk {
    0% {
        transform: translateX(0) translateY(-60vh) rotate(-720deg) scale(0);
    }
    1%{
        transform: translateX(0) translateY(-60vh) rotate(-720deg) scale(0.1);
    }
    49%{
        transform: translateX(0) translateY(0) scale(0.9);
    }
    56%{
        transform: translateX(0) translateY(0) rotate(-1400deg);
    }
    66%{
        transform: translateX(70vw) translateY(0) scale(0.5);
    }
    90%{
        transform: translateX(70vw) translateY(0);
    }
    100% {
        transform: translateX(70vw) translateY(-60vh) rotate(-720deg) scale(1.6);
    }
}
