.welcome_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    text-align: center;
    height: 90vh;
    background: rgba(0, 0, 0, 0.4) url(https://i.pinimg.com/originals/2d/21/3d/2d213d36f66c318754bd4b78ab9361f1.jpg);
    background-blend-mode: darken;
}

.welcome_block_title {
    margin-top: 25vh;
    font-size: 52px;
    color: #FFBA00;
    animation: 0.8s cubic-bezier(0, 0, 0.19, 1.01) 0s 1 slideInFromTop,
               0.1s ease-in 8s 1 blink_animation;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-400px);
        display: none;
        opacity: 0;
    }
    20%{
        opacity: 0;
        display: block;
    }
    100% {
        transform: translateY(0);
        display: block;
        opacity: 1;
    }
}

@keyframes blink_animation {
    0% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    75%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(-1deg);
    }
}

.welcome_block_text {
    color: #E9E9E9;
    max-width: 800px;
    animation: 0.6s cubic-bezier(0, 0, 0.19, 1.01) 0s 1 slideInFromTop,
               0.1s ease-in 8s 1 blink_animation;
}

.welcome_block_sign_up_btn {
    color: black;
    padding: 15px;
    background-color: #FFBA00;
    border-radius: 999px;
    width: 400px;
    margin: 20px;
    transition: 0.1s;
    animation: 0.4s cubic-bezier(0, 0, 0.19, 1.01) 0s 1 slideInFromTop,
               0.1s ease-in 8s 1 blink_animation;
}

.welcome_block_sign_up_btn:hover {
    background-color: #FFC31E;
    transform: scale(0.99); 
    box-shadow: 0 0 50px rgba(255, 224, 81, 0.3);
    cursor: pointer;
}

.welcome_block_sign_up_btn:active {
    background-color: #FFC31E;
    transform: scale(0.96); 
    box-shadow: 0 0 70px rgba(255, 224, 81, 0.3);
    cursor: pointer;
}

.welcome_block_sign_in_btn {
    padding: 15px;
    background-color: #2500E2;
    border: 2px solid #411CFF;
    border-radius: 999px;
    width: 400px;
    margin: 5px;
    transition: all 0.1s ease-in-out;
    animation: 0.3s cubic-bezier(0, 0, 0.19, 1.01) 0s 1 slideInFromTop,
               0.1s ease-in 8s 1 blink_animation;
}

.welcome_block_sign_in_btn:hover {
    background-color: #2A00FF;
    transform: scale(0.99); 
    box-shadow: 0 0 50px rgba(65, 28, 255, 0.7);
    cursor: pointer;
}

.welcome_block_sign_in_btn:active {
    background-color: #2A00FF;
    transform: scale(0.96); 
    box-shadow: 0 0 70px rgba(65, 28, 255, 0.9);
    cursor: pointer;
}


/* German realization */
.welcome_block_german_field {
    width: 80vw;
}

.welcome_block_german {
    width: 200px;
    height: 200px;
    background-image: url(./../../../images/CoolGerman.png);
    background-size: cover;
    animation: german_walk ease-in-out 4s forwards 2 alternate;
}

@keyframes german_walk {
    0% {
        transform: translateX(0) translateY(-60vh) rotate(-720deg) scale(0);
    }
    1%{
        transform: translateX(0) translateY(-60vh) rotate(-720deg) scale(0.1);
    }
    49%{
        transform: translateX(0) translateY(0) scale(0.9);
    }
    56%{
        transform: translateX(0) translateY(0) rotate(-1400deg);
    }
    66%{
        transform: translateX(70vw) translateY(0) scale(0.5);
    }
    90%{
        transform: translateX(70vw) translateY(0);
    }
    100% {
        transform: translateX(70vw) translateY(-60vh) rotate(-720deg) scale(1.6);
    }
}
